.Join_waitlist {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 347px;
  position: absolute;
  transform: translateY(750px);
  justify-content: space-evenly;
  align-items: center;
}
.Join_waitlist h1 {
  font-size: 35px;
  margin: 0;
  color: #707070;
  letter-spacing: 1px;
}
.Join_waitlist button {
  background-color: #f4bd31;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 7px;
  border: none;
  box-shadow: rgb(223, 222, 222) 0px 0px 5px 5px;
  cursor: pointer;
}
.Join_waitlist img {
  width: 80%;
  margin: 0px;
}
