.card_2 {
  position: absolute;
  width: 267px;
  height: 431px;
  z-index: 90;
  transform: rotate(90deg);
  margin: 0;
  top: 20px;
}
.data{
    position: relative;
    width:400px;
    height: 250px;
    z-index: 100;
    border: 1px solid rgb(255, 255, 255);
    transform: translateY(110px);
}