.header{
    border: 1px solid;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:2%;
    position: sticky;
}
