.landing {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 600px;
  height: 400px;
  z-index: 10000;
}
.slogan {
  margin: 0%;
}

.slogan h1 {
  padding: 0;
  margin: 0;
  transform: translateX(40px);
  color: #707070;
  font-size: 38px;
}
.slogan h3 {
  padding: 0;
  margin: 0;
  transform: translateX(40px);
  font-weight: lighter;
  letter-spacing: 1px;
}
